.food-programs {
  margin-bottom: 20px;
  .padding-horizontal(@value);
}

.food-programs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: @footer-back-color;
}

.food-programs__block-title {
  font-family: @family-base;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.food-programs__description {
  font-family: @family-optional;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 14px;
  line-height: 18px;
  color: @paragraph-text-color;
}

.food-programs__link-catalog-chapter {
  font-family: @family-base;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @base-text-color;
  text-decoration: none;
}
