.food-instruction {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 0 @value;
  padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
    padding-bottom: 42px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    width: 1224px;
    padding-left: 110px;
    padding-right: 106px;
    padding-bottom: 122px;
    border-bottom: none;
  }
}

.food-instruction__title {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 182px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 181px;
  }
}

.food-instruction__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 280px;
  row-gap: @value;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 249px);
    row-gap: 237px;
    column-gap: 135px;
    counter-reset: section;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    margin-bottom: 0;
  }
}

.food-instruction__item {
  position: relative;

  &--leaf::before {
    position: absolute;
    content: "";
    background-image: url("../../../../img/leaf.svg");
    background-repeat: no-repeat;
    width: 61px;
    height: 60px;
    top: 0;
    left: 0;
  }

  &--powder::before {
    position: absolute;
    content: "";
    background-image: url("../../../../img/powder.svg");
    background-repeat: no-repeat;
    width: 61px;
    height: 60px;
    top: 0;
    left: 0;
  }

  &--eat::before {
    position: absolute;
    content: "";
    background-image: url("../../../../img/eat.svg");
    background-repeat: no-repeat;
    width: 61px;
    height: 60px;
    top: 0;
    left: 0;
  }

  &--clocks::before {
    position: absolute;
    content: "";
    background-image: url("../../../../img/clocks.svg");
    background-repeat: no-repeat;
    width: 61px;
    height: 60px;
    top: 0;
    left: 0;
  }


  @media (min-width: @tablet-width) {
    &::after {
      position: absolute;
      counter-increment: section;
      content: counters(section, ".") " ";
      font-size: 280px;
      line-height: 280px;
      top: -149px;
      left: max(46%);
      color: @footer-back-color;
      z-index: -1;
    }

    &--leaf::before {
      width: 81px;
      height: 80px;
      top: calc(-100% - 31px);
      left: 0;
    }

    &--powder::before {
      width: 81px;
      height: 80px;
      top: calc(-100% - 31px);
      left: 0;
    }

    &--eat::before {
      width: 81px;
      height: 80px;
      top: calc(-100% - 31px);
      left: 0;
    }

    &--clocks::before {
      width: 81px;
      height: 80px;
      top: calc(-100% - 31px);
      left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      top: -147px;
      left: max(47%);
    }

    &--leaf::before {
      top: calc(-100% - 30px);
    }

    &--powder::before {
      top: calc(-100% - 30px);
    }

    &--eat::before {
      top: calc(-100% - 30px);
    }

    &--clocks::before {
      top: calc(-100% - 30px);
    }
  }
}

.food-instruction__step-description {
  font-family: @family-optional;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 14px;
  line-height: 18px;
  color: @paragraph-text-color;
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-left: 81px;
  padding-bottom: 4px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 2px;
    padding-left: 0;
  }
}

.food-instruction__break {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
