.food-programs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: @value @value 10px @value;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px 25px 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 82px 110px 35px 110px;
  }
}

.food-programs__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 280px;
  row-gap: @value;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: 708px;
    row-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}

.food-programs__item {
  display: flex;
  flex-wrap: wrap;
  background-color: @footer-back-color;
  padding-top: 21px;
  padding-bottom: 22px;
  .padding-horizontal(@value);

  @media (min-width: @tablet-width) {
    position: relative;
    padding-top: 77px;
    padding-bottom: 57px;
    padding-left: 52px;
    padding-right: 316px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 41px;
    padding-bottom: 59px;
    padding-right: 61px;
  }
}

.food-programs__icon {
  padding: 0;
  margin: 0;

  &--slim {
    margin-left: 2px;
    margin-right: 19px;
  }

  &--pro {
    margin-top: 3px;
    margin-left: -7px;
    margin-right: 11px;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";

    &--slim {
      width: 200px;
      height: 211px;
      top: 80px;
      left: 445px;
    }

    &--pro {
      width: 268px;
      height: 200px;
      top: 88px;
      left: 419px;
    }
  }

  @media (min-width: @desktop-width) {
    position: static;

    &--slim {
      width: 100px;
      height: 106px;
      margin-right: 60px;
    }

    &--pro {
      width: 134px;
      height: 102px;
      margin-left: -17px;
      margin-right: 45px;
    }
  }
}

.food-programs__block-title {
  font-family: @family-base;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 1px;
    margin-top: 0;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 35px;
    margin-bottom: 73px;
  }
}

.food-programs__description {
  font-family: @family-optional;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 14px;
  line-height: 18px;
  color: @paragraph-text-color;
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: @base-text-color;
    width: 340px;
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 457px;
    margin-bottom: 27px;
  }
}

.food-programs__link-catalog-chapter {
  position: relative;
  font-family: @family-base;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @base-text-color;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: @value;
    line-height: 30px;
  }
}

.food-programs__link-catalog-chapter::before {
  position: absolute;
  content: "";
  background-color: #d9d9d9;
  width: 240px;
  height: 1px;
  top: -@value;
  left: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.food-programs__name {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../../../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 12px;
    width: 24px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 1px;

    &::after {
      margin-left: 25px;
    }
  }
}

.food-programs__name:hover::after {
  background-size: 32px 12px;
  width: 32px;
}

.food-programs__link-catalog-chapter:active {
  opacity: 0.3;
}
