.food-instruction {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 10px @value 0 @value;
  padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: @value 30px 47px 30px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    width: 1224px;
    padding: 36px 106px 39px 110px;
    border-bottom: none;
  }
}

.food-instruction__title {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.food-instruction__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 280px;
  row-gap: @value;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 249px);
    row-gap: 77px;
    column-gap: 135px;
    counter-reset: section;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    margin-bottom: 0;
  }
}

.food-instruction__item {
  display: grid;
  grid-template-columns: 60px 200px;
  column-gap: @value;

  @media (min-width: @tablet-width) {
    position: relative;
    grid-template-columns: 80px 169px;
    row-gap: 29px;

    &::after {
      position: absolute;
      counter-increment: section;
      content: counters(section, ".") " ";
      font-size: 280px;
      line-height: 280px;
      top: -40px;
      left: max(46%);
      color: @footer-back-color;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      left: max(47%);
    }
  }
}

.food-instruction__icon-container {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: @button-back-color;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 80px;
    height: 80px;
  }
}

.food-instruction__icon {
  margin: auto;
}

.food-instruction__step-description {
  font-family: @family-optional;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 14px;
  line-height: 18px;
  color: @paragraph-text-color;
  grid-column: 2 / 3;
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 4px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 2px;
    padding-right: 10px;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding-bottom: 57px;
  }
}

.food-instruction__break {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
