.for-dealers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  min-width: 320px;

  &--darker {
    background-color: @footer-back-color;
  }

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;
  }
}

.for-dealers__container {
  position: relative;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.for-dealers__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 139px);
  column-gap: 2px;
  padding: 26px @value 26px @value;
  width: 280px;
  margin: 0 auto;
  background-color: @button-text-color;

  &--darker {
    background-color: @footer-back-color;

    @media (min-width: @desktop-width) {
      background-color: @button-text-color;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    width: 628px;
    padding: 56px 70px 56px 70px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    content: "";
    z-index: 1;
    top: 95px;
    left: 110px;
    width: 425px;
    padding-left: 80px;
    padding-right: 60px;
  }
}

.for-dealers__invitation {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: @value;
  text-transform: uppercase;
  color: @dealer-title-text-color;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 172px;
    font-size: @value;
    line-height: 26px;
    margin-top: 4px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
  }
}

.for-dealers__address {
  font-family: @family-optional;
  font-style: inherit;
  font-weight: inherit;
  font-size: 14px;
  line-height: @value;
  color: @paragraph-text-color;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    text-align: end;
    width: 160px;
    padding: 0;
    margin-bottom: 7px;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
    width: 175px;
  }
}

.for-dealers__address .for-dealers__breaker {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.for-dealers__yandex-map {
  display: block;
  border: none;
  width: 100%;
  background-color: @footer-back-color;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
