.for-dealers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  min-width: 320px;

  &--darker {
    background-color: @footer-back-color;
  }

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;
  }
}

.for-dealers__container {
  position: relative;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.for-dealers__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 139px);
  column-gap: 2px;
  .padding-horizontal(@value);
  width: 280px;
  margin: 0 auto;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
  background-color: #ffffff;

  &--darker {
    background-color: @footer-back-color;

    @media (min-width: @desktop-width) {
      background-color: @button-text-color;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    width: 628px;
    .padding-horizontal(70px);
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    content: "";
    z-index: 1;
    top: 95px;
    left: 110px;
    width: 405px;
    .padding-horizontal(80px);
  }
}

.for-dealers__invitation {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: @value;
  text-transform: uppercase;
  color: @dealer-title-text-color;
  outline: 5px solid rgba(8, 12, 8, 0.8);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    width: 172px;
    font-size: @value;
    line-height: 26px;
    margin-top: 60px;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
  }
}

.for-dealers__address {
  font-family: @family-optional;
  font-style: inherit;
  font-weight: inherit;
  font-size: 14px;
  line-height: @value;
  color: @paragraph-text-color;
  outline: 5px solid rgba(1, 73, 1, 0.8);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    text-align: end;
    width: 160px;
    margin-top: 56px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
    width: 155px;
  }
}

.for-dealers__address .for-dealers__breaker {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.for-dealers__yandex-map {
  display: block;
  border: none;
  width: 100%;
  background-color: @footer-back-color;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
