.form {
  padding-bottom: 32px;
  font-family: @family-base;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 16px;
  line-height: 18px;
  color: @paragraph-text-color;
  text-transform: uppercase;
}

.form__button-send {
  margin-bottom: 21px;
}

.form__required-fields {
  font-family: @family-optional;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 14px;
  line-height: 16px;
  color: @base-text-color;
  text-transform: none;
}
