.functional-food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding-bottom: @value;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 1440px;
    padding-bottom: 82px;

    &::before {
      position: absolute;
      content: "";
      width: 720px;
      height: 694px;
      top: -142px;
      left: 50%;
      background-color: @hero-back-color;
      background-image: linear-gradient(@hero-back-color, @hero-back-color), url("../../../../img/background/cat-main-background-desktop.png");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(@hero-back-color, @hero-back-color), url("../../../../img/background/cat-main-background-desktop@2x.png");
      }
    }
  }
}

.functional-food__text-block {
  background-color: @hero-back-color;
  background-image: linear-gradient(@hero-back-color, @hero-back-color), url("../../../../img/background/cat-main-background.png");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(@hero-back-color, @hero-back-color), url("../../../../img/background/cat-main-background@2x.png");
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    background-color: @button-text-color;
    background-image: none;
  }
}

.functional-food__title {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: @button-text-color;
  font-size: 36px;
  line-height: 36px;
  display: block;
  text-align: center;
  width: 250px;
  margin: 27px 35px 25px 37px;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 38px 231px 42px 117px;
    width: 420px;
    text-align: left;
    color: @base-text-color;
  }

  @media (min-width: @desktop-width) {
    margin: 82px 830px 40px 190px;
    width: 420px;
  }
}

.functional-food__motivation {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: @button-text-color;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  width: 198px;
  margin-left: 62px;
  margin-bottom: 164px;

  @media (min-width: @tablet-width) {
    font-size: @value;
    line-height: @value;
    color: @base-text-color;
    display: block;
    margin: 0;
    padding: 0;
    width: 283px;
    margin-left: 119px;
    margin-bottom: @value;
  }

  @media (min-width: @desktop-width) {
    margin-left: 190px;
    margin-bottom: 52px;
  }
}

.functional-food__selection-program-block {
  display: flex;
  flex-direction: column;
  .padding-horizontal(@value);

  @media (min-width: @tablet-width) {
    position: relative;
    padding: 0;
    margin: 0;
    padding-left: 29px;
    padding-right: 30px;
    margin-bottom: 0;
    width: 709px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    width: 1440px;
  }
}

.functional-food__photo {
  margin-top: -135px;

  @media (min-width: @tablet-width) {
    display: block;
    width: 709px;
    height: 609px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    content: "";
    width: 552px;
    height: 499px;
    top: -314px;
    left: 558px;
  }
}

.functional-food__button {
  font-size: 14px;
  line-height: 16px;
  width: 280px;
  height: 40px;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    font-size: @value;
    line-height: @value;
    width: 244px;
    height: 54px;
    top: 29px;
    left: 120px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    position: static;
    margin-left: 190px;
    margin-bottom: 185px;
  }
}
