.htmlacademy__link-name {
  font-family: @family-optional;
  color: @paragraph-text-color;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  &:active {
    opacity: 0.3;
  }
}

.htmlacademy__link-icon {
  display: block;
  margin: 0;
  padding: 0;
}

.htmlacademy__icon {
  display: block;
  margin: 0;
  padding: 0;
  color: #666666;

  &:hover {
    color: @button-back-color;
  }

  &:active {
    opacity: 0.3;
  }
}
