.live-example {
  min-width: 320px;
  background-color: @live-example-back-color;

  @media (min-width: @tablet-width) {
    min-width: 768px;
    background: linear-gradient(@button-text-color 57.3%, @live-example-back-color 42.7%);
  }

  @media (min-width: @desktop-width) {
    padding-top: 30px;
    position: relative;
    min-width: 1440px;
    background: none;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 464px;
      background-color: @footer-back-color;
      top: 165px;
      z-index: -1;
    }
  }
}

.live-example__container {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 25px @value 37px @value;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 43px 30px 100px 31px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 432px 560px;
    column-gap: 228px;
    padding: 0 110px 75px 110px;
  }
}

.live-example__title {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 36px;
  line-height: 40px;
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    padding: 0;
    margin: 0;
    margin-bottom: 145px;
  }
}

.live-example__description {
  font-family: @family-optional;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 14px;
  line-height: 18px;
  color: @paragraph-text-color;
  display: block;
  margin: 0;
  margin-bottom: @value;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    padding: 0;
    margin-bottom: 69px;
  }
}

.live-example__list-expenses-container {
  margin-bottom: @value;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 99px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    flex-direction: column;
    justify-content: flex-start;
    width: 366px;
    margin: 0;
  }
}

.live-example__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 124px);
  column-gap: 32px;
  row-gap: 7.5px;
  margin-bottom: 19px;

  &::before {
    position: absolute;
    content: "";
    width: 123px;
    height: 54px;
    background-color: transparent;
    border: 1px solid #cdcdcd;
    top: -15px;
    left: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 122px;
    height: 54px;
    background-color: transparent;
    border: 1px solid #cdcdcd;
    top: -15px;
    right: 0;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 162px);
    column-gap: 42px;
    row-gap: 10px;
    padding-top: 11px;
    margin: 0;

    &::before {
      width: 160px;
      height: 70px;
      background-color: transparent;
      border: 1px solid #cdcdcd;
      top: 0;
      left: 0;
    }

    &::after {
      width: 160px;
      height: 70px;
      background-color: transparent;
      border: 1px solid #cdcdcd;
      top: 0;
      right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}

.live-example__item-term {
  font-family: @family-base;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  grid-row: 1 / 2;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding-top: 4px;
  }
}

.live-example__item-description {
  font-family: @family-optional;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 12px;
  line-height: 12px;
  color: @paragraph-text-color;
  grid-row: 2 / 3;
  display: block;
  padding: 0 14px;
  margin: 0;
  margin-left: 18px;
  margin-right: 19px;
  width: 59px;
  text-align: center;
  background-color: @live-example-back-color;
  z-index: 2;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: max-content;
    padding: 0 9px 0 8px;
    margin: 0 auto;
    background-color: @button-text-color;
  }

  @media (min-width: @desktop-width) {
    background-color: @footer-back-color;
  }
}

.live-example__expenses {
  font-family: @family-base;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 14px;
  line-height: @value;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: @value;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 174px;
    margin-top: 12px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    width: 327px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 3px;
  }
}

.live-example__expenses-title {
  @media (min-width: @tablet-width) {
    display: block;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    margin-top: -1px;
    margin-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 2px;
    margin-bottom: 0;
  }
}

.live-example__slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin-bottom: 10px;
  }
}

.live-example__slider-left-photo {
  @media (min-width: @tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.live-example__slider-right-photo {
  @media (min-width: @tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.live-example__wrapper-slider-button {
  position: absolute;
  content: "";
  left: 50%;

  &::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 256px;
    background-color: #666666;
    left: 0;
    transform: translateX(-50%);

    @media (min-width: @tablet-width) {
      height: 512px;
    }
  }

  &:hover::before {
    background-color: @button-back-color;
  }

  &:active::before {
    background-color: rgba(94, 170, 47, 0.6);
  }
}

.live-example__slider-button {
  position: absolute;
  content: "";
  background-color: @button-text-color;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 2px solid #666666;
  top: 128px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-right-color: #666666;
    top: 50%;
    left: 17%;
    transform: translateX(-50%) translateY(-50%);
  }

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-left-color: #666666;
    top: 50%;
    right: -35%;
    transform: translateX(-50%) translateY(-50%);
  }

  @media (min-width: @tablet-width) {
    top: 256px;

    &::after {
      right: -32%;
    }
  }
}

.live-example__wrapper-slider-button:hover .live-example__slider-button {
  border-color: @button-back-color;
}

.live-example__wrapper-slider-button:hover .live-example__slider-button::before {
  border-right-color: @button-back-color;
}

.live-example__wrapper-slider-button:hover .live-example__slider-button::after {
  border-left-color: @button-back-color;
}

.live-example__wrapper-slider-button:active .live-example__slider-button {
  border-color: rgba(94, 170, 47, 0.6);
}

.live-example__wrapper-slider-button:active .live-example__slider-button::before {
  border-right-color: rgba(94, 170, 47, 0.6);
}

.live-example__wrapper-slider-button:active .live-example__slider-button::after {
  border-left-color: rgba(94, 170, 47, 0.6);
}
