.main-form-header {
  width: 280px;
  margin: 0 auto;
  .padding-horizontal(@value);
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    width: 628px;
    .padding-horizontal(70px);
    border-top: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    .padding-horizontal(110px);
  }
}

.main-form-header__title {
  font-family: @family-base;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 36px;
  line-height: 36px;
  color: @base-text-color;
  margin: 27px 0 37px 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 40px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 45px;
    margin-bottom: 56px;
  }
}

.main-form-header__description {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @base-text-color;
  width: 226px;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: @value;
    line-height: 30px;
    width: 323px;
    margin-bottom: 66px;
  }
}
