.main-footer {
  min-width: 320px;
  background-color: @footer-back-color;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;
  }
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: 39px @value 22px @value;
  outline: 5px solid rgba(9, 237, 112, 0.8);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 707px;
    padding: 63px 31px 60px 30px;
  }

  @media (min-width: @desktop-width) {
    height: 149px;
    width: 1220px;
    padding: 0 110px;
  }
}

.main-footer__logo-link-name {
  display: block;
  text-align: center;
  width: 280px;
  padding: 0;
  margin: 0;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    width: 128px;
    padding-bottom: 0;
    border: none;
  }
}

.main-footer__logo-name {
  color: @dealer-title-text-color;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}

.main-footer__social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    width: 132px;
    margin: 0;
    padding: 0;
    border: none;
  }
}

.main-footer__social-item:not(:last-child) {
  margin-right: 24px;
}

.main-footer__social-icon {
  color: #666666;

  &:hover {
    color: @button-back-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__htmlacademy {
  display: flex;
  width: 281px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 22px;
  outline: 5px solid rgba(32, 9, 212, 0.8);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    width: 163px;
    margin: 0;
    padding: 0;
  }
}

.htmlacademy__link-name {
  color: @paragraph-text-color;
  outline: 5px solid rgba(248, 14, 22, 0.8);
  outline-offset: -5px;

  &:active {
    opacity: 0.3;
  }
}

.htmlacademy__icon {
  color: #666666;

  &:hover {
    color: @button-back-color;
  }

  &:active {
    opacity: 0.3;
  }
}
