.main-database {
  display: flex;
  flex-direction: column;
  width: 320px;
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  outline: 5px solid rgba(24, 238, 249, 0.8);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 569px;
    padding-bottom: 49px;
  }
}

.main-database__list {
  display: flex;
  flex-direction: column;
  width: 280px;
  list-style-type: none;
  margin: 0;
  padding: 0 @value;
  justify-content: space-between;
  outline: 5px solid rgba(252, 10, 135, 0.8);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    width: 630px;
    padding: 0;
    padding-left: 71px;
    padding-right: 67px;
  }

  @media (min-width: @desktop-width) {
    width: 569px;
    padding-left: 0;
    padding-right: 0;
  }
}

.main-database__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.main-database__label {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 280px;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 630px;
  }

  @media (min-width: @desktop-width) {
    width: 569px;
  }
}

.main-database__input {
  &::placeholder {
    display: block;
    padding: 0;
    margin: 0;
    color: @paragraph-text-color;
    outline: 5px solid rgba(24, 238, 249, 0.8);
    outline-offset: -5px;
  }
  font-family: @family-base;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: @value;
  margin: 0;
  margin-left: 13px;
  flex-grow: 1;
  display: flex;
  width: min-content;
  flex-wrap: wrap;
  border: 1px solid #e7e7e7;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus-within {
    outline: 2px solid @paragraph-text-color;
    outline-offset: -2px;
  }

  &--error {
    outline: 2px solid #ff8282;
    outline-offset: -2px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 11px;
    padding-bottom: 11px;

    &::placeholder {
      font-size: @value;
      line-height: 30px;
    }
  }
}

.main-database__name {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 13px;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: @value;
    line-height: 30px;
    outline: 5px solid rgba(24, 238, 249, 0.8);
    outline-offset: -5px;
  }
}
