.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  font-family: inherit;
  font-style: @style-base;
  font-weight: @weight-optional;
  font-size: @value;
  line-height: @value;
  text-transform: uppercase;
  height: 66px;
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__link {
  text-decoration: none;
  color: @base-text-color;
}
