.owner-contacts {
  display: flex;
  width: 280px;
  padding: 0;
  .padding-horizontal(@value);
  padding-bottom: 23px;
  margin: 0 auto;
  border: none;

  @media (min-width: @tablet-width) {
    width: 632px;
    .padding-horizontal(68px);
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    .padding-horizontal(110px);
    padding-bottom: 67px;
  }
}

.owner-contacts__title {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: @base-text-color;
  text-transform: none;
  width: 187px;
  padding: 0;
  margin-bottom: 34px;

  &::after {
    position: absolute;
    content: "";
    width: 1000000%;
    height: 2px;
    background-color: @button-back-color;
    top: 30%;
    left: calc(100% + 14px);
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 515px;
    margin-bottom: 76px;

    &::before {
      position: absolute;
      content: "";
      width: 1000000%;
      height: 2px;
      background-color: @button-back-color;
      top: 65%;
      right: calc(100% + 39px);
    }

    &::after {
      top: 65%;
      left: calc(100% + 42px);
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      right: calc(100% + 40px);
    }

    &::after {
      left: calc(100% + 40px);
    }
  }
}

.owner-contacts__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 631px;
  }

  @media (min-width: @desktop-width) {
    width: 1219px;
    display: grid;
    grid-template-columns: 569px 572px;
    column-gap: 78px;
    margin: 0 auto 0 1px;
  }
}

.owner-contacts__label {
  position: relative;
  color: @paragraph-text-color;
  display: flex;
  width: 280px;
  margin: 0;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;

  @media (min-width: @tablet-width) {
    font-size: @value;
    line-height: 30px;
    width: 631px;
  }

  @media (min-width: @desktop-width) {
    width: 569px;
  }
}

.owner-contacts__label:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: @value;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.owner-contacts__input {
  &::placeholder {
    color: @paragraph-text-color;
  }
  font-family: @family-base;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @paragraph-text-color;
  flex-grow: 1;
  margin-left: 9px;
  padding: 14px 43px 13px 15px;
  border: 1px solid #e7e7e7;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus-within {
    outline: 2px solid @paragraph-text-color;
    outline-offset: -2px;
  }

  &--error {
    outline: 2px solid @error;
    outline-offset: -2px;
  }

  @media (min-width: @tablet-width) {
    font-size: @value;
    line-height: 30px;
    margin-left: @value;
    padding: 11px 48px 11px @value;
  }
}

.owner-contacts__icon {
  position: absolute;
  content: "";
  right: 16px;
  top: auto;
  fill: none;
  color: @catalog-title-item;

  &--error {
    color: @error;
  }

  @media (min-width: @tablet-width) {
    right: 19px;
  }
}

.owner-contacts__label:focus-within .owner-contacts__icon {
  color: @button-back-color;
}
