.owner-contacts {
  display: flex;
  width: 280px;
  padding: 0;
  .padding-horizontal(@value);
  padding-bottom: 24px;
  margin: 0 auto;
  border: none;

  @media (min-width: @tablet-width) {
    width: 632px;
    .padding-horizontal(68px);
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0;
  }
}

.owner-contacts__title {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: @base-text-color;
  text-transform: none;
  width: 187px;
  margin-bottom: 35px;

  &::after {
    position: absolute;
    content: "";
    width: 1000000%;
    height: 2px;
    background-color: @button-back-color;
    top: 30%;
    left: calc(100% + 14px);
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 515px;
    margin-bottom: 76px;

    &::before {
      position: absolute;
      content: "";
      width: 1000000%;
      height: 2px;
      background-color: @button-back-color;
      top: 65%;
      right: calc(100% + 39px);
    }

    &::after {
      top: 65%;
      left: calc(100% + 42px);
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      right: calc(100% + 40px);
    }

    &::after {
      left: calc(100% + 40px);
    }
  }
}

.owner-contacts__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 631px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 569px 572px;
    column-gap: 78px;
    width: 1219px;
    padding: 76px 110px 67px 111px;
  }
}

.owner-contacts__label {
  display: flex;
  width: 280px;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: 631px;
  }

  @media (min-width: @desktop-width) {
    width: 1219px;
    margin-bottom: 0;
  }
}

.owner-contacts__label:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.owner-contacts__name {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-right: 10px;
  outline: 5px solid rgba(24, 238, 249, 0.8);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    font-size: @value;
    line-height: 30px;
    color: @paragraph-text-color;
    margin-top: 11px;
    margin-right: 20px;
  }
}

.owner-contacts__input-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 14px 16px 13px 15px;
  border: 1px solid #e7e7e7;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus-within {
    outline: 2px solid @paragraph-text-color;
    outline-offset: -2px;
  }

  &--error {
    outline: 2px solid #ff8282;
    outline-offset: -2px;
  }

  @media (min-width: @tablet-width) {
    padding: 11px 20px 11px 20px;
  }
}

.owner-contacts__input {
  &::placeholder {
    color: @paragraph-text-color;
  }
  font-family: @family-base;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  outline: 5px solid rgba(24, 238, 249, 0.8);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    font-size: @value;
    line-height: 30px;
  }
}

.owner-contacts__icon {
  display: block;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 0;
}

.owner-contacts__input-container:focus-within .owner-contacts__icon {
  stroke: @button-back-color;
}

.owner-contacts__input-container--error .owner-contacts__icon {
  stroke: #ff8282;
}
