.show-more-products {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    background-color: @button-text-color;
    border: 2px solid @footer-back-color;
  }
}

.show-more-products__button-plus {
  position: relative;
  text-decoration: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      top: 82px;
      width: 60px;
    }

    @media (min-width: @desktop-width) {
      top: 81px;
    }
  }

  &::before {
    transform: translateX(-50%) rotate(0deg);
    box-shadow: none;
  }

  &::after {
    transform: translateX(-50%) rotate(-90deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: fade(#d3d3d3, 60%);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#d3d3d3, 30%);
  }
}

.show-more-products__show-more {
  font-family: @family-base;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 16px;
  line-height: @value;
  color: @dealer-title-text-color;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0;
  margin-top: 78px;
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    font-size: @value;
    line-height: 22px;
    width: 134px;
    margin-top: 161px;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 160px;
  }
}

.show-more-products__description {
  font-family: @family-optional;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 12px;
  line-height: 16px;
  color: @paragraph-text-color;
  display: inline-block;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 165px;
    margin-bottom: 87px;
  }
}

.show-more-products__button-show-all {
  width: 260px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: @value;
    width: 229px;
    margin-bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    margin-bottom: 41px;
  }
}
