@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/oswald/oswaldmedium.woff") format("woff"), url("../../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldregular.woff") format("woff"), url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*text colors*/
/*background colors*/
.page {
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  min-width: 320px;
}
@media (min-width: 768px) {
  .page {
    min-width: 768px;
  }
}
@media (min-width: 1440px) {
  .page {
    min-width: 1440px;
  }
}
.page__body {
  min-height: 100%;
  margin: 0;
  color: #000000;
}
.main-header {
  margin: 0 auto;
}
.main-nav {
  position: relative;
  outline: 5px solid rgba(32, 9, 212, 0.8);
  outline-offset: -5px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-nav {
    position: static;
    display: flex;
    justify-content: space-between;
    width: 708px;
    padding: 24px 30px;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    width: 1220px;
    padding: 53px 110px;
  }
}
.main-nav__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  outline: 5px solid rgba(150, 232, 255, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    position: static;
    width: 174px;
    margin: 0;
    padding: 0;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .main-nav__wrapper {
    width: 202px;
  }
}
.main-nav__logo {
  display: flex;
  width: 191px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .main-nav__logo {
    margin: 0;
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .main-nav__logo {
    width: 202px;
    height: 59px;
  }
}
.main-nav__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 26px;
  height: 21px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  opacity: 0.6;
}
@media (min-width: 768px) or (min-width: 1440px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.3), 0 16px 0 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle {
  top: 23px;
  right: 23px;
  width: 25px;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 46%;
  right: -16%;
  width: 25px;
  height: 1.5px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav__list {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  outline: 5px solid rgba(67, 7, 79, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .main-nav__list {
    position: static;
    transform: translateX(0%);
    flex-direction: row;
    flex-wrap: wrap;
    width: 440px;
    min-height: max-content;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .main-nav__list {
    width: 478px;
  }
}
.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  height: 20px;
  border-bottom: 1px solid #e6e6e6;
  outline: 5px solid rgba(246, 121, 4, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .main-nav__item {
    position: relative;
    border: none;
    min-height: 24px;
    padding: 0;
    padding-bottom: 18px;
    margin: 0;
  }
  .main-nav__item--active::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 64px;
    background-color: #68b738;
    top: 32px;
  }
}
@media (min-width: 1440px) {
  .main-nav__item {
    min-height: 40px;
    padding-bottom: 16px;
  }
  .main-nav__item--active::after {
    background-color: #ffffff;
    width: 71px;
    top: 38px;
  }
}
.main-nav__item:first-child {
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .main-nav__item:first-child {
    border: none;
    margin-right: 34px;
  }
}
@media (min-width: 1440px) {
  .main-nav__item:first-child {
    margin-right: 36px;
  }
}
@media (min-width: 768px) {
  .main-nav__item + .main-nav__item {
    border: none;
    margin-right: 36px;
  }
}
@media (min-width: 1440px) {
  .main-nav__item + .main-nav__item {
    margin-right: 32px;
  }
}
@media (min-width: 768px) {
  .main-nav__item:nth-child(3n) {
    margin-right: 0;
  }
}
.main-nav__link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.main-nav__link:hover,
.main-nav__link:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .main-nav__link {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .main-nav__link {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
  }
}
.main-container {
  min-width: 320px;
  margin: o auto;
  padding: 0;
}
@media (min-width: 768px) {
  .main-container {
    min-width: 768px;
  }
}
@media (min-width: 1440px) {
  .main-container {
    min-width: 1440px;
  }
}
.main-container__related-products-gift-wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  outline: 5px solid rgba(237, 12, 12, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .main-container__related-products-gift-wrapper {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .main-container__related-products-gift-wrapper {
    width: 1440px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.for-dealers {
  min-width: 320px;
}
.for-dealers--darker {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .for-dealers {
    min-width: 768px;
  }
}
@media (min-width: 1440px) {
  .for-dealers {
    min-width: 1440px;
  }
}
.for-dealers__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .for-dealers__container {
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .for-dealers__container {
    margin: 0 auto;
  }
}
.for-dealers__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 139px);
  column-gap: 2px;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  margin: 0 auto;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
  background-color: #ffffff;
}
.for-dealers__wrapper--darker {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .for-dealers__wrapper--darker {
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .for-dealers__wrapper {
    display: flex;
    width: 548px;
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .for-dealers__wrapper {
    width: 405px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
.for-dealers__invitation {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  outline: 5px solid rgba(8, 12, 8, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .for-dealers__invitation {
    width: 172px;
  }
}
.for-dealers__address {
  font-family: "Lato", sans-serif;
  font-style: inherit;
  font-weight: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  outline: 5px solid rgba(1, 73, 1, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .for-dealers__address {
    width: 160px;
  }
}
.for-dealers__map-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  background-color: #f2f2f2;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .for-dealers__map-wrapper {
    min-width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .for-dealers__map-wrapper {
    min-width: 1440px;
    margin: 0 auto;
  }
}
.main-footer {
  min-width: 320px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .main-footer {
    min-width: 768px;
  }
}
@media (min-width: 1440px) {
  .main-footer {
    min-width: 1440px;
  }
}
.main-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .main-footer__container {
    height: 147px;
    flex-direction: row;
    justify-content: space-between;
    width: 707px;
    padding: 0 31px 0 30px;
  }
}
@media (min-width: 1440px) {
  .main-footer__container {
    height: 149px;
    width: 1220px;
    padding: 0 110px;
  }
}
.main-footer__social-list {
  list-style-type: none;
  display: flex;
  width: 132px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .main-footer__social-list {
    width: 132px;
    margin: 0;
  }
}
.main-footer__htmlacademy {
  display: flex;
  width: 281px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-footer__htmlacademy {
    width: 163px;
    margin: 0;
  }
}
.htmlacademy__link-name {
  font-family: "Lato", sans-serif;
  color: #444444;
  text-decoration: none;
}
.button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  min-height: 40px;
  background-color: #68b738;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
}
.button--show-all {
  background-color: #f2f2f2;
  color: #444444;
}
.functional-food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 20px;
  outline: 5px solid rgba(1, 73, 1, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .functional-food {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .functional-food {
    width: 1440px;
    padding-bottom: 82px;
    /* background-image: url("../../img/rectangle-green.png"), url("../../img/cat-main-background-desktop.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50% 694px;*/
  }
}
.functional-food__text-block {
  background-image: url("../../img/rectangle-green.png"), url("../../../img/cat-main-background.png");
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
  height: 302px;
}
@media (min-width: 768px) {
  .functional-food__text-block {
    background-color: #ffffff;
    background-image: none;
    height: 201px;
  }
}
.functional-food__title {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-left: 36px;
  margin-right: 35px;
  padding: 0;
  outline: 5px solid rgba(1, 73, 1, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .functional-food__title {
    color: #000000;
  }
}
.functional-food__motivation {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-left: 60px;
  outline: 5px solid rgba(1, 73, 1, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .functional-food__motivation {
    color: #000000;
  }
}
.functional-food__selection-program-block {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1440px) {
  .functional-food__selection-program-block {
    flex-direction: row-reverse;
  }
}
.functional-food__photo {
  outline: 5px solid rgba(1, 73, 1, 0.8);
  outline-offset: -5px;
}
.functional-food__button {
  width: 280px;
}
@media (min-width: 1440px) {
  .functional-food__button {
    width: 244px;
    height: 54px;
    align-self: center;
  }
}
.food-programs {
  display: flex;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 20px;
  outline: 5px solid rgba(21, 23, 21, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .food-programs {
    width: 708px;
    padding: 0 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  .food-programs {
    width: 1220px;
    padding: 0 110px;
    margin-bottom: 71px;
  }
}
.food-programs__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 280px;
  row-gap: 20px;
  margin: 0 auto;
  padding: 0;
  outline: 5px solid rgba(246, 242, 4, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .food-programs__list {
    grid-template-columns: 708px;
    row-gap: 30px;
  }
}
@media (min-width: 1440px) {
  .food-programs__list {
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}
.food-programs__item {
  outline: 5px solid rgba(246, 121, 4, 0.8);
  outline-offset: -5px;
  background-color: #f2f2f2;
}
.food-programs__block-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
.food-programs__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.food-programs__link-catalog-chapter {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.food-instruction {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 53px;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .food-instruction {
    width: 708px;
    padding: 0 30px;
    padding-bottom: 47px;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1440px) {
  .food-instruction {
    width: 1224px;
    padding-left: 110px;
    padding-right: 106px;
    padding-bottom: 69px;
    border-bottom: none;
  }
}
.food-instruction__title {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
}
@media (min-width: 768px) {
  .food-instruction__title {
    margin-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .food-instruction__title {
    margin-bottom: 32px;
  }
}
.food-instruction__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 280px;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .food-instruction__list {
    grid-template-columns: repeat(2, 249px);
    row-gap: 37px;
    column-gap: 135px;
  }
}
@media (min-width: 1440px) {
  .food-instruction__list {
    display: flex;
  }
}
.food-instruction__step-description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.live-example {
  min-width: 320px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .live-example {
    min-width: 768px;
    background: linear-gradient(#ffffff 57%, #eaeaea 43%);
  }
}
@media (min-width: 1440px) {
  .live-example {
    min-width: 1440px;
    background: none;
  }
}
.live-example__container {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 25px 20px 40px 20px;
  outline: 5px solid rgba(32, 9, 212, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .live-example__container {
    width: 768px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .live-example__container {
    width: 1440px;
    display: grid;
    grid-template-columns: 436px 560px;
    column-gap: 224px;
  }
}
.live-example__title {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .live-example__title {
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .live-example__title {
    background-color: #ffffff;
    grid-column: 1 / 2;
    padding: 0;
    margin-left: 110px;
  }
}
.live-example__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .live-example__description {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .live-example__description {
    grid-column: 1 / 2;
    padding: 0;
    margin-left: 110px;
  }
}
@media (min-width: 768px) {
  .live-example__list-expenses-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    outline: 5px solid rgba(243, 7, 133, 0.8);
    outline-offset: -5px;
  }
}
@media (min-width: 1440px) {
  .live-example__list-expenses-container {
    grid-column: 1 / 2;
    margin-left: 110px;
    flex-direction: column;
    margin-bottom: 75px;
  }
}
.live-example__list {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  column-gap: 32px;
  outline: 5px solid rgba(32, 9, 212, 0.8);
  outline-offset: -5px;
}
.live-example__item-term {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  grid-row: 1 / 2;
}
.live-example__item-description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  grid-row: 2 / 3;
}
.live-example__expenses {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
.live-example__slider {
  display: flex;
}
@media (min-width: 1440px) {
  .live-example__slider {
    margin-bottom: 85px;
  }
}
.catalog-title {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  padding-bottom: 41px;
}
@media (min-width: 768px) {
  .catalog-title {
    width: 738px;
    border-bottom: none;
    padding-top: 65px;
    padding-left: 30px;
    padding-right: 0;
  }
}
@media (min-width: 1440px) {
  .catalog-title {
    padding: 78px 110px 0 110px;
    width: 1220px;
    font-size: 60px;
    line-height: 60px;
  }
}
.main-products {
  display: flex;
  width: 320px;
  padding: 0;
  margin: 0 auto;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .main-products {
    width: 708px;
    padding: 0 30px;
    padding-bottom: 68px;
  }
}
@media (min-width: 1440px) {
  .main-products {
    width: 1220px;
    padding: 0 110px;
  }
}
.main-products__list {
  list-style-type: none;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  outline: 5px solid rgba(237, 12, 12, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .main-products__list {
    display: grid;
    width: 708px;
    margin: 0;
    grid-template-columns: repeat(2, 324px);
    column-gap: 60px;
    row-gap: 141px;
    padding-top: 163px;
  }
}
@media (min-width: 1440px) {
  .main-products__list {
    width: 1220px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 143px;
    padding-top: 165px;
    padding-bottom: 75px;
  }
}
.main-products__item {
  border-bottom: 1px solid #ebebeb;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  row-gap: 14px;
  padding-bottom: 25px;
  border: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .main-products__item {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
  }
}
.main-products__picture {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.main-products__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  grid-column: 2 / 3;
  margin: 0;
  padding: 0;
  padding-top: 19px;
  max-width: 76px;
}
.main-products__features {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(2, 70px);
  outline: 5px solid rgba(237, 12, 12, 0.8);
  outline-offset: -5px;
}
.main-products__term {
  display: flex;
  width: max-content;
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(237, 12, 12, 0.8);
  outline-offset: -5px;
}
.main-products__description {
  display: flex;
  width: max-content;
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(237, 12, 12, 0.8);
  outline-offset: -5px;
}
.main-products__order-button {
  grid-column: 1 / -1;
}
.features-list {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.show-more-products {
  display: flex;
  flex-direction: column;
}
.show-more-products__show-more {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}
.show-more-products__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.related-products {
  width: 320px;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .related-products {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .related-products {
    width: 895px;
  }
}
.related-products__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .related-products__title {
    padding-left: 67px;
  }
}
@media (min-width: 1440px) {
  .related-products__title {
    padding-left: 110px;
  }
}
.related-products__list {
  display: flex;
  flex-direction: column;
  width: 280px;
  list-style-type: none;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .related-products__list {
    width: 708px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .related-products__list {
    width: 895px;
    padding: 81px 80px 86px 110px;
  }
}
.related-products__item {
  width: 280px;
  border-bottom: 1px solid #cdcdcd;
  padding: 0;
  margin: 0;
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .related-products__item {
    width: 708px;
    border: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .related-products__item {
    display: flex;
    flex-direction: row;
    width: 895px;
  }
}
.related-products__item:first-child {
  border-top: 1px solid #cdcdcd;
}
.related-products__product-name {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}
.related-products__features-list {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  display: flex;
  width: 280px;
  justify-content: space-between;
}
.gift {
  display: flex;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../../../img/catalog/cat-gift.png");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
  margin: 35px 20px;
}
@media (min-width: 768px) {
  .gift {
    width: 707px;
    height: 200px;
    padding: 0;
    margin: 69px 30px 76px 31px;
  }
}
@media (min-width: 1440px) {
  .gift {
    width: 245px;
    height: 289px;
    margin: 0;
    margin-top: 130px;
    margin-right: 110px;
  }
}
.gift__suggestion {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.main-form-header {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 5px solid rgba(32, 9, 212, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .main-form-header {
    width: 628px;
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media (min-width: 1440px) {
  .main-form-header {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.main-form-header__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding: 0;
}
.main-form-header__description {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.form {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 32px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  outline: 5px solid rgba(32, 9, 212, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .form {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .form {
    width: 1440px;
  }
}
.form__database-weight-program-container {
  display: flex;
  width: 320px;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
@media (min-width: 1440px) {
  .form__database-weight-program-container {
    width: 1219px;
    padding-left: 111px;
    padding-right: 110px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.form__button-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .form__button-container {
    flex-direction: row;
    width: 626px;
    padding-left: 71px;
    padding-right: 71px;
  }
}
@media (min-width: 1440px) {
  .form__button-container {
    width: 1218px;
    padding-left: 111px;
    padding-right: 111px;
  }
}
.form__button-send {
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .form__button-send {
    width: 282px;
    margin-right: 64px;
  }
}
@media (min-width: 1440px) {
  .form__button-send {
    width: 568px;
    margin-right: 84px;
  }
}
.form__required-fields {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-transform: none;
}
.main-database {
  display: flex;
  flex-direction: column;
  width: 320px;
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .main-database {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .main-database {
    width: 569px;
  }
}
.main-database__list {
  display: flex;
  flex-direction: column;
  width: 280px;
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  align-items: space-between;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .main-database__list {
    width: 768px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .main-database__list {
    width: 569px;
  }
}
.main-database__item {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .main-database__item {
    margin-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .main-database__item {
    margin: 0;
    padding: 0;
  }
}
.main-database__label {
  display: flex;
  justify-content: flex-start;
  width: 280px;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-database__label {
    width: 630px;
    padding-left: 71px;
    padding-right: 67px;
  }
}
@media (min-width: 1440px) {
  .main-database__label {
    width: 569px;
    padding-left: 111px;
  }
}
.main-database__input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 13px;
  flex-grow: 1;
}
.main-database__input::placeholder {
  color: #444444;
}
.weight-program {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  color: #222222;
  margin: 0;
  margin-bottom: 26px;
}
.weight-program__list {
  list-style-type: none;
}
.owner-contacts {
  display: flex;
  width: 280px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  margin: 0 auto;
  border: none;
  border-top: 2px solid #68b738;
}
@media (min-width: 768px) {
  .owner-contacts {
    width: 632px;
    padding-left: 68px;
    padding-right: 68px;
    padding-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .owner-contacts {
    width: 1440px;
    padding: 0;
  }
}
.owner-contacts__title {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}
.owner-contacts__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .owner-contacts__wrapper {
    width: 631px;
  }
}
@media (min-width: 1440px) {
  .owner-contacts__wrapper {
    display: grid;
    grid-template-columns: 569px 572px;
    column-gap: 78px;
    width: 1219px;
    padding: 76px 110px 67px 111px;
  }
}
.owner-contacts__input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.owner-contacts__input::placeholder {
  color: #444444;
}
.comments {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 23px;
  margin: 0 auto;
  border: none;
  border-top: 2px solid #68b738;
  outline: 5px solid rgba(32, 9, 212, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .comments {
    width: 632px;
    padding-left: 69px;
    padding-right: 67px;
  }
}
@media (min-width: 1440px) {
  .comments {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.comments__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: #000000;
  padding: 0;
}
.comments__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 280px;
  min-height: 150px;
  border: none;
  padding: 0;
  outline: 1px solid #e7e7e7;
  outline-offset: -1px;
}
.comments__text::placeholder {
  color: #444444;
}
@media (min-width: 768px) {
  .comments__text {
    width: 631px;
  }
}
@media (min-width: 1440px) {
  .comments__text {
    width: 1220px;
  }
}
.additional-goods {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  border: none;
  margin-bottom: 34px;
  border-top: 2px solid #68b738;
}
@media (min-width: 768px) {
  .additional-goods {
    width: 698px;
    padding-left: 70px;
  }
}
@media (min-width: 1440px) {
  .additional-goods {
    width: 1329px;
    padding-left: 110px;
  }
}
.additional-goods__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: #000000;
}
.additional-goods__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .additional-goods__list {
    display: grid;
    grid-template-columns: 300px 314px;
    column-gap: 14px;
    padding-top: 57px;
    padding-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .additional-goods__list {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}
.additional-goods__label {
  color: #000000;
}
/*# sourceMappingURL=style.css.map */
