.related-products {
  .padding-horizontal(@value);
  margin-bottom: 35px;
}

.related-products__title {
  font-family: @family-base;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 24px;
  line-height: 24px;
  border-bottom: 1px solid #cdcdcd;
}

.related-products__list {
  list-style-type: none;
}

.related-products__item {
  border-bottom: 1px solid #cdcdcd;
}

.related-products__product-name {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  color: @catalog-title-item;
  text-transform: uppercase;
}

.related-products__features-list {
  font-family: @family-optional;
  font-style: @style-base;
  font-weight: @weight-base;
  font-size: 14px;
  line-height: 14px;
  color: @paragraph-text-color;
}
